<a href="https://colab.research.google.com/github/dsmohiit/Python/blob/main/Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Creating Tuples

In [2]:
# Empty tuple
t1 = ()
print(type(t1))

# Creating a tuple with single item - add a comma
t2 = (2,)
print(t2)
print(type(t2))

# Homogenous tuple
t3 = (1, 2, 3, 4)
print(t3)

# Heterogenous tuple
t4 = ("hello", 2, 4, True)
print(t4)

# 2D tuple
t5 = (1, 2, 3, ("hello", True))
print(t5)

# Using type convrsion
t6 = tuple("hello")
print(t6)

<class 'tuple'>
(2,)
<class 'tuple'>
(1, 2, 3, 4)
('hello', 2, 4, True)
(1, 2, 3, ('hello', True))
('h', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [ ]:
# Indexing

print(t3)
print(t3[0])
print(t3[-1])

# Slicing

print(t3[1:3])
print(t3[-3:-1])

# Reversing a tuple

print(t3[::-1])

(1, 2, 3, 4)
1
4
(2, 3)
(2, 3)
(4, 3, 2, 1)

### Editing items

In [ ]:
# Tuples can't be edited

print(t3)
t3[0] = 100

### Adding items

In [ ]:
# Not possible, tuples are immutbale.

### Deleting items

In [ ]:
# Whole tuple can be deleted using "del" keyword but not a single item of tuple

### Operations on Tuples

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

# Addition
print(t1 + t2)

# Multiplication
#print(t1 * t2)
print(t1 * 2)

# Membership
1 in t1

# Iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)
1
2
3

### Tuple Functions

In [ ]:
# len()/max()/min()/sum()/sorted()
t = (1, 2, 3, 4, 5, 6, 7, 8, 9)

print(len(t))
print(max(t))
print(min(t))
print(sum(t))
print(sorted(t))
print(sorted(t, reverse= True))

9
9
1
45
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# count() ---> Counts the frequency of the item that is passed.

t = (1, 2, 3, 4, 5)
t.count(5)

1

In [ ]:
# index() ---> Returns the item's index that is passed.

t = (1, 2, 3, 4, 5)
t.index(5)

4

### Difference between Lists and Tuples

- Syntax
- Mutability -- Tuples are immutable
- Speed -- Tuples are faster
- Memory -- Consumes less memory
- Built in functionality
- Error prone -- Less prone to errors
- Usability -- Used in case of read only applications

### Why use tuple?

### Special Syntax

In [ ]:
# Tuple unpacking

a, b, c = (1, 2, 3)
print(a, b, c)

1 2 3

In [ ]:
# Swapping two values

a = 1
b = 2

a, b = b, a
print(a, b)

2 1

In [ ]:
a, b, *others = (1, 2, 3, 4, 5, 6)
print(a, b)
print(others)

1 2
[3, 4, 5, 6]

In [ ]:
# Zipping tuples

tuple1 = (1, 2, 3, 4)
tuple2 = (5, 6, 7, 8)

list(zip(tuple1, tuple2))

[(1, 5), (2, 6), (3, 7), (4, 8)]

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

### Creating Sets

In [8]:
# Empty set
s = set()
print(s)
print(type(s))

# 1D and 2D set
s1 = {1, 2, 3}
print(s1)

#2D set in not possible, sets can not store another mutable itrable.

# Homogenous set
s2 = {1, 2, 3, 4}
print(s2)

# Heterogenous set
# True is not in the set because in python True is treated as 1 and we alreday have 1 in our set. Also, set can't have duplicates.
s3 = {1, 2, 3.14, True, 3+1j, "mohit"}
print(s3)

# Using type conversion
set("hello")

set()
<class 'set'>
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3.14, (3+1j), 'mohit'}

{'e', 'h', 'l', 'o'}

In [9]:
# Sets are unordered.

s1 = {1, 2, 3}
s2 = {3, 2, 1}

print(s1 == s2)

True

### Accessing Items

In [ ]:
# Can not access the items of sets using indexing because sets are unorderd.

### Editing Items

In [ ]:
# Not possible because of indexing

### Adding Items

In [13]:
s1 = {1, 2, 3}

# add ---> adds single item to the set
s1.add(5)
print(s1)

# update ---> adds multiple items to the set
s2 = {1, 2, 3}
s2.update([4, 5, 6, "hello"])
print(s2)

{1, 2, 3, 5}
{1, 2, 3, 4, 5, 6, 'hello'}

### Deleting Items

In [22]:
# del ---> this will delete the complete set but not single item

# discard ---> discard can delete a single item from the set, discard takes up the value itself and not the index
s1 = {1, 2, 3, 4, 5}
print(s1)
s1.discard(5)
print(s1)

# remove ---> remove can delete a single item from the set as well, remove also takes up the value itself and not the index
s2 = {6, 7, 8, 9, 10}
print(s2)
s2.remove(7)
print(s2)

# pop ---> deletes/removes a single item from the set randomly
s3 = {11, 12, 13, 14, 15}
print(s3)
s3.pop()
print(s3)

# clear ---> deletes all the items of the set and makes it into an empty set.
s4 = {16, 17, 18, 19, 20}
print(s4)
s4.clear()
print(s4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{6, 7, 8, 9, 10}
{6, 8, 9, 10}
{11, 12, 13, 14, 15}
{12, 13, 14, 15}
{16, 17, 18, 19, 20}
set()

### Set Operation

In [29]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

# Union(|)
print(s1 | s2)

# Intersection ---> common items
print(s1 & s2)

# Difference (-)
print(s1 - s2) # Those items of s1 which are not present in s2.
print(s2 - s1) # Those items of s2 which are not present in s1.

# Symmetric diffrence(^)
print(s1 ^ s2) # Everything will be included except the common.

# Membership test
1 in s1

# Iteration
for i in s1:
  print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
1
2
3
4
5

### Set Functions

In [35]:
# len/sum/min/max/sorted

s1 = {1, 2, 3, 4, 5, 100, 150}

print(len(s1))
print(sum(s1))
print(min(s1))
print(max(s1))
print(sorted(s1, reverse= True))

7
265
1
150
[150, 100, 5, 4, 3, 2, 1]

In [38]:
# union/update
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

print(s1.union(s2))

s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [41]:
# isdisjoint ---> disjoint sets are those sets which do not have any item common.
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}
s3 = {6, 7, 8, 9, 10}

print(s1.isdisjoint(s2)) # s1 and s2 are not disjoint because both of these sets have common items.
print(s1.isdisjoint(s3)) # s1 and s3 are disjoint because both of these sets do not have common items.

False
True

In [43]:
# issubset
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5}

print(s2.issubset(s1))
print(s1.issubset(s2))

True
False

In [44]:
# issuperset
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5}

print(s1.issuperset(s2))

True

In [45]:
# copy
s1 = {1, 2, 3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

### Frozenset
Frozen set is just an immutable version of a Python set object
All the read operation will work but not write operations.

In [47]:
# creating a frozenset

fs = frozenset([1, 2, 3]) # can pass any iterable like list, set, tuple
fs

frozenset({1, 2, 3})

In [51]:
# We can create 2D frozenset because it is an immutable data type and it can contain immutable data type inside.

fs = frozenset([1, 2, 3, frozenset((5, 6, 7))])
fs

frozenset({1, 2, 3, frozenset({5, 6, 7})})

### Set Comprehension

In [52]:
{i for i in range(1, 11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [53]:
{i**2 for i in range(1, 11) if i > 5}

{36, 49, 64, 81, 100}

# Dictionary

Dictionary in Python is a collection of key-value pair, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as hash map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- Mutable items such as list are not allowed as keys.
- d5 = {"name": "mohit", [1, 2, 3]: 5} ---> This is not possible.

### Create Dictionary

In [10]:
# empty dict
d = {}
print(d)

# Homogenous 1D dict
d1 = {"name": "mohit", "gender": "male"}
print(d1)

# Mixed key dict
d2 = {"name": "mohit", "hello": 1, (1, 2, 3): 1}
print(d2)

# 2D dict
d3 = {
    "Name": "Mohit",
    "College": "AITH",
    "Age": 23,
    "Subject":{
        "DSA": 50,
        "PYTHON": 70,
        "MATHS": 30
    }
}
print(d3)

# Using dict function ---> Passing a list of tuples
d4 = dict([(1, 1), (2, 2), ("name", "mohit")])
print(d4)

# Can't have duplicate keys.
# Mutablen items as keys are not allowed.
d5 = {"name": "mohit", [1, 2, 3]: 5}
print(d5)

{}
{'name': 'mohit', 'gender': 'male'}
{'name': 'mohit', 'hello': 1, (1, 2, 3): 1}
{'Name': 'Mohit', 'College': 'AITH', 'Age': 23, 'Subject': {'DSA': 50, 'PYTHON': 70, 'MATHS': 30}}
{1: 1, 2: 2, 'name': 'mohit'}

### Accessing items

In [14]:
# Using []
d = {"name": "mohit", "hello": 1, (1, 2, 3): 1}

print(d["hello"])
print(d["name"])

1
mohit

In [18]:
# get function
d = {"name": "mohit", "hello": 1, (1, 2, 3): 100}

print(d.get("name"))
print(d.get("hello"))
print(d.get((1, 2, 3)))

mohit
1
100

In [30]:
# Accesing 2D dictionary
d = {
    "Name": "Mohit",
    "College": "AITH",
    "Age": 23,
    "Subject":{
        "DSA": 50,
        "PYTHON": 70,
        "MATHS": 30
    }
}

d["Subject"]["DSA"]

50

### Adding key-value pair

In [19]:
d = {"name": "mohit", "hello": 1, (1, 2, 3): 100}

d["gender"] = "male"
d["college"] = "AITH"
d["role"] = "Data Analyst"

print(d)

{'name': 'mohit', 'hello': 1, (1, 2, 3): 100, 'gender': 'male', 'college': 'AITH', 'role': 'Data Analyst'}

In [32]:
# Adding a key-value pair in a 2D dict
d = {
    "Name": "Mohit",
    "College": "AITH",
    "Age": 23,
    "Subject":{
        "DSA": 50,
        "PYTHON": 70,
        "MATHS": 30
    }
}

d["Subject"]["DATA VIS."] = 85
d

{'Name': 'Mohit',
 'College': 'AITH',
 'Age': 23,
 'Subject': {'DSA': 50, 'PYTHON': 70, 'MATHS': 30, 'DATA VIS.': 85}}

### Remove key-value pair

In [27]:
# pop ---> provide the key and it'll remove/delete that key-value pair
d = {'name': 'mohit', 'role': 'Data Analyst', 'hello': 1, (1, 2, 3): 100, 'gender': 'male', 'college': 'AITH'}
print(d)

d.pop((1, 2, 3))
print(d)

# popitem ---> removes last item of the dictionary
print(d)
d.popitem()
print(d)

# del
del d["hello"]
print(d)

# clear ---> removes every key-value pair from dict and makes it into an empty dict
d4.clear()
d4

{'name': 'mohit', 'role': 'Data Analyst', 'hello': 1, (1, 2, 3): 100, 'gender': 'male', 'college': 'AITH'}
{'name': 'mohit', 'role': 'Data Analyst', 'hello': 1, 'gender': 'male', 'college': 'AITH'}
{'name': 'mohit', 'role': 'Data Analyst', 'hello': 1, 'gender': 'male', 'college': 'AITH'}
{'name': 'mohit', 'role': 'Data Analyst', 'hello': 1, 'gender': 'male'}
{'name': 'mohit', 'role': 'Data Analyst', 'gender': 'male'}

{}

### Editing key-value pair

In [34]:
d = {
    "Name": "Mohit",
    "College": "AITH",
    "Age": 23,
    "Subject":{
        "DSA": 50,
        "PYTHON": 70,
        "MATHS": 30
    }
}

d["College"] = "Dr. AITD"
d["Subject"]["DSA"] = 80
print(d)

{'Name': 'Mohit', 'College': 'Dr. AITD', 'Age': 23, 'Subject': {'DSA': 80, 'PYTHON': 70, 'MATHS': 30}}

### Dictionary Operations

- Membership
- Iteration

In [36]:
d = {'name': 'mohit', 'role': 'Data Analyst', 'hello': 1, (1, 2, 3): 100, 'gender': 'male', 'college': 'AITH'}

"name" in d

True

In [38]:
for i in d:
  print(i, d[i])

name mohit
role Data Analyst
hello 1
(1, 2, 3) 100
gender male
college AITH

### Dictionary Functions

In [49]:
d = {"name": "mohit", "gender": "male"}

# len/sorted/items
print(len(d))
print(sorted(d))
print(d.items()) # list of tuples with key and value

2
['gender', 'name']
dict_items([('name', 'mohit'), ('gender', 'male')])

In [46]:
d = {"name": "mohit", "gender": "male"}

# keys/values
print(d.keys())
print(d.values())

dict_keys(['name', 'gender'])
dict_values(['mohit', 'male'])

In [47]:
d1 = {1:2, 2:3, 3:4, 4:5}
d2 = {4:7, 6:8}

# update
d1.update(d2)
print(d1)

{1: 2, 2: 3, 3: 4, 4: 7, 6: 8}

### Dictionary Comprehension
![image.png]()

In [48]:
# print 1st 10 numbers as key and their square as values using comprehension.

{i: i**2 for i in range(1, 11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [51]:
# convert KM into Miles using comprehension.

distance = {"delhi": 1000, "mumbai": 2000, "kanpur": 380}

{key: value*0.62 for (key, value) in distance.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'kanpur': 235.6}

In [52]:
# create a dict from given list using zip using comprehension.

days = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]
temp_c = [30.2, 25, 27, 42, 23, 26, 28]

{i:j for (i, j) in zip(days, temp_c)}

{'sunday': 30.2,
 'monday': 25,
 'tuesday': 27,
 'wednesday': 42,
 'thursday': 23,
 'friday': 26,
 'saturday': 28}

In [56]:
product = {"mobile": 50, "laptop": 35, "earbud": 0}

{i:j for (i, j) in product.items() if j > 0}

{'mobile': 50, 'laptop': 35}